<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- This permission is required to be able access the Glyph Matrix -->
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NothingAndroidSDKDemo">

        <!-- Nothing API Key -->
        <meta-data
            android:name="NothingKey"
            android:value="test" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NothingAndroidSDKDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.UltimateSettingsActivity"
            android:exported="false"
            android:label="Ultimate Key Settings"
            android:theme="@style/Theme.NothingAndroidSDKDemo" />

        <receiver
            android:name=".AodSettingsWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/aod_widget_info" />
        </receiver>

        <service
            android:name=".EssentialKeyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>


        <!-- Animation Demo Service -->
        <service
            android:name=".demos.animation.AnimationDemoService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_animation" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/animation_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_animation" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>

        <!-- Bad Apple Service -->
        <service
            android:name=".demos.animation.BadAppleService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_bad_apple" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/badapple_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_bad_apple" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>

        <!-- Animation Perlin Noise Service -->
        <service
            android:name=".demos.animation.PerlNoiseService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_perlin" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/perlin_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_perlin" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>

        <!-- Animation Game Of Life Service -->
        <service
            android:name=".demos.animation.GameOfLifeService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_game_of_life" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/game_of_life_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_game_of_life" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>

        <!-- Animation Liquid Simulation Service -->
        <service
            android:name=".demos.animation.LiquidSimulationService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_liquid_simulation" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/liquid_sim_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_liquid_simulation" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>

        <!-- Animation White Noise Service -->
        <service
            android:name=".demos.animation.WhiteNoiseService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_white_noise" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/white_noise_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_white_noise" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>

        <!-- Pong Game Service -->
        <service
            android:name=".games.PongService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_pong" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/pong_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_pong" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>

        <!-- Mandelbrot Set Service -->
        <service
            android:name=".demos.animation.MandelbrotService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_mandelbrot" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/mandelbrot_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_mandelbrot" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>


        <!-- Charge Service -->
        <service
            android:name=".aod.ChargeService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_charge" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/charge_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_charge" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>



        <!-- Animation Ultimate Key Service -->
        <service
            android:name=".demos.UltimateKeyService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>

            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name_ultimate_key" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/ultimate_essential_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary_ultimate_key" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>

    </application>

</manifest>